@font-face { font-family: "Roboto Bold"; src: url("roboto-bold.ttf"); }
@font-face { font-family: "Roboto"; src: url("roboto.ttf"); }

html { overflow-x:hidden; overflow-y:hidden }
/* #kombi { color:white; } */
/* body { background:#ED891D; font-family: "Roboto"; } */
body { font-family: "Roboto"; }

.navbar { margin-bottom:0; }
.navbar a.navbar-brand { font-family: "Roboto Bold"; padding:10px}
.navbar img.navbar-img { height:30px; }
.navbar .navbar-brand p,img { display:inline !important; }
.navbar li a { text-transform:uppercase; }
.navbar li a:hover { background:#1ABC9C; }
.nav .open > a:focus, .nav .open > a:hover { background:#16A085; }

.navbar-orange, .dropdown-menu-orange {
    background:#1ABC9C;
    border:0px;
}

.navbar-orange a {
    text-decoration:none;
    color:#FFFFFF;
}

.navbar-orange button, span.icon-bar {
    border:1px solid #FFFFFF;
}
