<style>
.form-horizontal .control-label {
    text-align:left;
}
</style>
<div class="col-md-12" style="padding:20px">
<form id="add-freight" class="form-horizontal">
    <div class="form-group">
        <label for="freight-title" class="col-sm-2 control-label">Título</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="freight-title" placeholder="Nome do anúncio de frete">
        </div>
    </div>
    <div class="form-group">
        <label for="freight-departure" class="col-sm-2 control-label">Retirada</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="freight-departure" placeholder="Endereço de coleta da entrega">
        </div>
    </div>
    <div class="form-group">
        <label for="freight-arrival" class="col-sm-2 control-label">Entrega</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="freight-arrival" placeholder="Endereço de entrega">
        </div>
    </div>
    <div class="form-group">
        <label for="freight-deadline" class="col-sm-2 control-label">Horário</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="freight-deadline" placeholder="Horário da entrega">
        </div>
    </div>
    <div class="form-group">
        <label for="freight-volume" class="col-sm-2 control-label">Volume</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="freight-volume" placeholder="Volume do pacote">
        </div>
    </div>
    <div class="form-group">
        <label for="freight-weight" class="col-sm-2 control-label">Peso</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="freight-weight" placeholder="Peso total nominal do pacote">
        </div>
    </div>
    <div class="form-group">
        <label for="freight-description" class="col-sm-2 control-label">Descrição</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="freight-description" placeholder="Descreva a entrega que você deseja fazer."></textarea>
        </div>
    </div>
    <div class="col-lg-12 text-center"><button type="submit" class="btn btn-default btn-block">Criar novo frete</button></div>
</form>
</div>
