{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ appname }}</title>
        <link href="{% static 'vendor/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script type="text/html" id="help"> {% include "help.html" %} </script>
        <script type="text/html" id="kombi"> {% include "kombi.html" %} </script>
        <script type="text/html" id="select"> {% include "select.html" %} </script>
        <script type="text/html" id="freight"> {% include "add.html" %} </script>
        <script type="text/html" id="deliveries"> {% include "deliveries.html" %} </script>
    </head>
    <body>
        <nav class="navbar navbar-orange navbar-static-top">
            <div class="container-fluid">
                <button href="#menu-toggle" type="button" class="navbar-right navbar-toggle collapsed menu-toggle" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="display:block; margin-right: 0px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="" class="navbar-img" src="{% static 'svg/icon.svg' %}">
                    <p>&nbsp;{{ appname }}</p>
                </a>
            </div>
        </nav>

        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#"> Freteiro </a>
                    </li>
                    <li><a href="#add"> Adicionar Frete   </a></li>
                    <li><a href="#list"> Selecionar Fretes   </a></li>
                    <li><a href="#select"> Selecionar Rotas   </a></li>
                    <li><a href="#help"> Ajuda do Aplicativo    </a></li>
                    <li><a href="/login/"> Sair do Frete Fácil     </a></li>
                </ul>
            </div>
            <div id="content-wrapper"></div>
        </div>

        <script id="config" type="text/json">
            {
                "models": {},
                "collections": {},
                "views": {},
                "router": null,
                "apiRoot": "/kombi/deliveries"
            }
        </script>
        <script src="{% static 'vendor/js/jquery.js' %}"></script>
        <script src="{% static 'vendor/js/underscore.js' %}"></script>
        <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
        <script src="{% static 'vendor/js/backbone.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/socket.js' %}"></script>
        <script src="{% static 'js/models.js' %}"></script>
        <script src="{% static 'js/router.js' %}"></script>
        <script src="{% static 'js/views.js' %}"></script>
    </body>
</html>
