{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ appname }}</title>
        <link href="{% static 'vendor/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script type="text/html" id="help"> {% include "help.html" %} </script>
        <script type="text/html" id="kombi"> {% include "kombi.html" %} </script>
        <script type="text/html" id="select"> {% include "select.html" %} </script>
        <script type="text/html" id="freight"> {% include "add.html" %} </script>
        <script type="text/html" id="deliveries"> {% include "deliveries.html" %} </script>
    </head>
    <body>
        <nav class="navbar navbar-orange navbar-static-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img alt="" class="navbar-img" src="{% static 'svg/icon.svg' %}">
                    <p>&nbsp;Frete F&aacute;cil</p>
                </a>
            </div>
        </nav>
        <div class="container">
          <div class="row"><br></div>
          <div class="row text-center">
            {{ form.as_p }}
          </div>
        </div>
    </body>
</html>
